html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #3c3836 }
html[data-theme="light"] .highlight { background: #fbf1c7; }
html[data-theme="light"] .highlight .c { color: #928374; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { color: #fbf1c7; background-color: #9d0006 } /* Error */
html[data-theme="light"] .highlight .k { color: #9d0006 } /* Keyword */
html[data-theme="light"] .highlight .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .c-PreProc { color: #427b58; font-style: italic } /* Comment.PreProc */
html[data-theme="light"] .highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #3c3836; font-weight: bold; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #fbf1c7; background-color: #9d0006 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .gr { color: #9d0006 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #3c3836; font-weight: bold } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #fbf1c7; background-color: #79740e } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #32302f } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #7c6f64 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #3c3836; text-decoration: underline } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #9d0006 } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #9d0006 } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #9d0006 } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #9d0006 } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #9d0006 } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #9d0006 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #9d0006 } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #8f3f71 } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #79740e } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #b57614 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #af3a03 } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #427b58 } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #8f3f71 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #9d0006 } /* Name.Decorator */
html[data-theme="light"] .highlight .ne { color: #9d0006 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #427b58 } /* Name.Function */
html[data-theme="light"] .highlight .nn { color: #427b58 } /* Name.Namespace */
html[data-theme="light"] .highlight .nt { color: #427b58 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #076678 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #9d0006 } /* Operator.Word */
html[data-theme="light"] .highlight .mb { color: #8f3f71 } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #8f3f71 } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #8f3f71 } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #8f3f71 } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #8f3f71 } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #79740e } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #79740e } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #79740e } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #79740e } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #79740e } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #79740e } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #af3a03 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #79740e } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #79740e } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #79740e } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #79740e } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #79740e } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #79740e } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #af3a03 } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #427b58 } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #076678 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #076678 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #076678 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #076678 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #8f3f71 } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #ebdbb2 }
html[data-theme="dark"] .highlight { background: #282828; color: #dddddd }
html[data-theme="dark"] .highlight .c { color: #928374; font-style: italic } /* Comment */
html[data-theme="dark"] .highlight .err { color: #282828; background-color: #fb4934 } /* Error */
html[data-theme="dark"] .highlight .esc { color: #dddddd } /* Escape */
html[data-theme="dark"] .highlight .g { color: #dddddd } /* Generic */
html[data-theme="dark"] .highlight .k { color: #fb4934 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #dddddd } /* Literal */
html[data-theme="dark"] .highlight .n { color: #dddddd } /* Name */
html[data-theme="dark"] .highlight .o { color: #dddddd } /* Operator */
html[data-theme="dark"] .highlight .x { color: #dddddd } /* Other */
html[data-theme="dark"] .highlight .p { color: #dddddd } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
html[data-theme="dark"] .highlight .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
html[data-theme="dark"] .highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .gr { color: #fb4934 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #ebdbb2; font-weight: bold } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #f2e5bc } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #a89984 } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #fb4934 } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #fb4934 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #fb4934 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #fb4934 } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #fb4934 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #fb4934 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #fb4934 } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #dddddd } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #d3869b } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #b8bb26 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #fabd2f } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #fe8019 } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #8ec07c } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #d3869b } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #fb4934 } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #dddddd } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #fb4934 } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #8ec07c } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #dddddd } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #8ec07c } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #dddddd } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #dddddd } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #8ec07c } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #83a598 } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #fb4934 } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #dddddd } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #dddddd } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #d3869b } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #d3869b } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #d3869b } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #d3869b } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #d3869b } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #b8bb26 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #b8bb26 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #b8bb26 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #b8bb26 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #b8bb26 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #b8bb26 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #fe8019 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #b8bb26 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #b8bb26 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #b8bb26 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #b8bb26 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #b8bb26 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #b8bb26 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #8ec07c } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #83a598 } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #83a598 } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #83a598 } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #83a598 } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #d3869b } /* Literal.Number.Integer.Long */