.root {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &[data-deletion] {
        .sentence{
            opacity: 0.11;
        }
        .identifable {
            color: var(--red);
        }
    }
}

.sentence {
    position: relative;
    flex-basis: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 18px 0;
}

.listable {
    border-bottom: 1px solid color-mix(in srgb,var(--fg),transparent 66%);
    padding: var(--small-spacing);
}

.spacerRight {
    padding-right: calc(60px + var(--small-spacing)) !important;
}
.spacerLeft {
    padding-left: calc(60px + var(--small-spacing)) !important;
}

.editable {
    padding: 0 var(--small-spacing);
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--small-spacing);
}

.identifable {
    padding: 0 var(--small-spacing);
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--small-spacing);
    font-size: .75rem;
}


.editable2 {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--small-spacing);
}

.identifable2 {
    position: absolute;
    left: 0;
    width: 60px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--small-spacing);
    font-size: .75rem;
}
