<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Ingredient Parser Tester"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Ingredient Parser Tester</title>
        <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    </head>
    <body>
        <header>
            <h1>Ingredient Parser Tester</h1>
        </header>

        <main>
            <form method="get">
                <input id="sentence" name="sentence" type="search" autocomplete="off" value="{{ sentence|e }}" autofocus />

                <input id="discard_isolated_stop_words" name="discard_isolated_stop_words" type="checkbox" {{ "checked" if discard_isolated_stop_words }} />
                <label for="discard_isolated_stop_words">
                    Discard isolated stop words
                </label>
                <input id="guess_name_fallback" name="guess_name_fallback" type="checkbox" {{ "checked" if guess_name_fallback }} />
                <label for="guess_name_fallback">
                    Guess name fallback
                </label>
                <input id="string_units" name="string_units" type="checkbox" {{ "checked" if string_units }} />
                <label for="string_units">
                    String units
                </label>
                <input id="imperial_units" name="imperial_units" type="checkbox" {{ "checked" if imperial_units }} />
                <label for="imperial_units">
                    Imperial units
                </label>
            </form>

            <p class="key">
                Key: 
                <span class="QTY">Quantity</span>
                <span class="UNIT">Unit</span>
                <span class="NAME">Name</span>
                <span class="SIZE">Size</span>
                <span class="PREP">Prep</span>
                <span class="COMMENT">Comment</span>
                <span class="PURPOSE">Purpose</span>
                <span class="PUNC">Punc</span>
                <span class="flag">1</span> Singular
                <span class="flag">~</span> Approximate
            </p>

            {%- if display -%}
            <p class="sentence">
                {%- for token, label, score in tokens -%}
                <span class="{{ label }}" data-score="{{ '%.2f%%'|format(100*score) }}">{{ token }}</span><wbr>
                {%- endfor -%}
            </p>

            <table>
                <tbody>
                    <tr>
                        <td class="type NAME">Name</td>
                        <td>
                            {{ name.text }}
                            {%- if name.confidence > 0 -%}
                            <span class="confidence NAME">
                                {{ "%.2f"|format(100*name.confidence) }}%
                            </span>
                            {%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td class="type SIZE">Size</td>
                        <td>
                            {{ size.text }}
                            {%- if size.confidence > 0 -%}
                            <span class="confidence SIZE">
                                {{ "%.2f"|format(100*size.confidence) }}%
                            </span>
                            {%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td class="type AMOUNT">Amount</td>
                        <td>
                        {%- if amounts | length == 1-%}
                        {{ amounts[0].text }}
                        {%- if amounts[0].APPROXIMATE -%}
                        <span class="flag">~</span>
                        {%- endif -%}
                        {%- if amounts[0].SINGULAR -%}
                        <span class="flag">1</span>
                        {%- endif -%}
                        <span class="confidence AMOUNT">
                            {{ "%.2f"|format(100*amounts[0].confidence) }}%
                        </span>
                        {%- else -%}
                        {%- for amount in amounts -%}
                        <span class="amount">
                            {{ amount.text }}
                            {%- if amount.APPROXIMATE -%}
                            <span class="flag">~</span>
                            {%- endif -%}
                            {%- if amount.SINGULAR -%}
                            <span class="flag">1</span>
                            {%- endif -%}
                            <span class="confidence AMOUNT">
                                {{ "%.2f"|format(100*amount.confidence) }}%
                            </span>
                        </span>
                        {%- endfor -%}
                        {%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td class="type PREP">Preparation</td>
                        <td>
                            {{ preparation.text }}
                            {%- if preparation.confidence > 0 -%}
                            <span class="confidence PREP">
                                {{ "%.2f"|format(100*preparation.confidence) }}%
                            </span>
                            {%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td class="type COMMENT">Comment</td>
                        <td>
                            {{ comment.text }}
                            {%- if comment.confidence > 0 -%}
                            <span class="confidence COMMENT">
                                {{ "%.2f"|format(100*comment.confidence) }}%
                            </span>
                            {%- endif -%}
                        </td>
                    </tr>
                    <tr>
                        <td class="type PURPOSE">Purpose</td>
                        <td>
                            {{ purpose.text }}
                            {%- if purpose.confidence > 0 -%}
                            <span class="confidence PURPOSE">
                                {{ "%.2f"|format(100*purpose.confidence) }}%
                            </span>
                            {%- endif -%}
                        </td>
                    </tr>
                </tbody>
            </table>
            {%- endif -%}
        </main>
    </body>
</html>