<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Ingredient Parser Tester"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Ingredient Parser Tester</title>
        <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    </head>
    <body>
        <header>
            <h1>Ingredient Parser Tester</h1>
        </header>

        <main>
            <form method="get">
                <input id="sentence" name="sentence" type="search" autocomplete="off" value="{{ sentence }}"/>
            </form>

            <p class="key">
                Key: 
                <span class="QTY">Quantity</span>
                <span class="UNIT">Unit</span>
                <span class="NAME">Name</span>
                <span class="COMMENT">Comment</span>
                <span class="OTHER">Other</span>
                <span class="flag">1</span> Singular
                <span class="flag">~</span> Approximate
            </p>

            {%- if display -%}
            <p class="sentence">
                {%- for token, label in tokens -%}
                <span class="{{ label }}" data-label="{{ label }}">{{ token }}</span><wbr>
                {%- endfor -%}
            </p>

            <section class="cards">
                <div class="card">
                    <h3 class="NAME">Name</h3>
                    <h2>{{ name.text }}</h2>
                    <h4>{{ "%.2f"|format(100*name.confidence) }}%</h4>
                </div>

                <div class="card">
                    <h3 class="AMOUNT">Amount</h3>
                    {%- for amount in amounts -%}
                        <h2 class="amounts">
                            <div class="QTY amount-val">
                                <span>{{ amount.quantity }}</span> 
                            </div>
                            <div class="UNIT amount-val">
                                <span>{{ amount.unit }}</span>
                            </div>
                            {%- if amount.APPROXIMATE -%}
                            <span class="flag">~</span>
                            {%- endif -%}
                            {%- if amount.SINGULAR -%}
                            <span class="flag">1</span>
                            {%- endif -%}
                        </h2>
                    {%- endfor -%}
                    <h4>
                        {%- for amount in amounts -%}
                        {{ "%.2f"|format(100*amount.confidence) }}%&nbsp;&nbsp;
                        {%- endfor -%}
                    </h4>
                </div>

                <div class="card">
                    <h3 class="COMMENT">Comment</h3>
                    <h2>{{ comment.text }}</h2>
                    <h4>{{ "%.2f"|format(100*comment.confidence) }}%</h4>
                </div>

                <div class="card">
                    <h3 class="OTHER">Other</h3>
                    <h2>{{ other.text }}</h2>
                    <h4>{{ "%.2f"|format(100*other.confidence) }}%</h4>
                </div>
            </section>
            {%- endif -%}
        </main>
    </body>
</html>