/* Lightbox */
.lightbox .lb-image {
  border: none;
}
.lightbox .lb-outerContainer {
  border-radius: 4px;
  background-color: var(--pst-color-background);
}

.lightbox .lb-data .lb-close {
  filter: alpha(Opacity=50);
  opacity: .5;
}

/* Left navbar logo iconography */
.navbar-brand {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}
.navbar-brand img {
  width: 4rem;
}
.navbar-brand .title {
  font-size: 1rem;
}

/* Tweak cards on homepage */
.sd-card {
    background-color: var(--pst-color-on-background);
}
.sd-card-header {
    font-size: 1.4rem;
    border-bottom: none !important;
}
.sd-card-footer {
    border-top: none !important;
}

/* Layout overrides */
html[data-theme=dark] {
    .bd-sidebar-primary {
    border-right: 1px solid color-mix(in srgb,var(--fg),transparent 66%);
    }
    .bd-footer-content {
        border-top: 1px solid color-mix(in srgb,var(--fg),transparent 66%);
    }
}
html[data-theme=light] {
    .bd-sidebar-primary {
        border-right: 1px solid color-mix(in srgb,var(--bg-4),transparent 66%);
    }
    .bd-footer-content {
        border-top: 1px solid color-mix(in srgb,var(--bg-4),transparent 66%);
    }
}

nav.bd-links {
  margin-right: 0 !important;
}
nav.page-toc {
  margin-bottom: 0 !important;
}
#pst-back-to-top {
  top: 95vh;
}
.bottom-right {
  right: 20px;
  bottom: 20px;
}

/* Remove border radius from search box */
.search-button-field {
    border-radius: 0.25rem;
}
.search-button-field:hover {
    box-shadow: 0 0 0 .1rem var(--pst-color-link-hover);
}

/* Remove bullets from parameter lists in API docs */
.field-list ul {
    list-style: none;
    padding-left: 0;
}

/* Add better separation between function and classes */
.class, .function {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--pst-color-on-surface);
}

/* Globals */
:root {
	color-scheme: dark;
	--bg: #1d2021;
	--bg-s: #32302f;
	--bg-1: #3c3836;
	--bg-2: #504945;
	--bg-3: #665c54;
	--bg-4: #7c6f64;
	--fg: #fbf1c7;
	--fg-1: #ebdbb2;
	--fg-2: #d5c4a1;
	--fg-3: #bdae93;
	--fg-4: #a89984;
	--gray: #928374;
	--white: #ffffff;
	--black: #333333;
	--red: #cc241d;
	--red-blend: #982823;
	--red-alt: #fb4934;
	--green: #98971a;
	--green-blend: #98971a;
	--green-alt: #b8bb26;
	--yellow: #d79921;
	--yellow-blend: #9f7625;
	--yellow-alt: #fabd2f;
	--blue: #458588;
	--blue-blend: #3e686a;
	--blue-alt: #83a598;
	--purple: #b16286;
	--purple-blend: #865169;
	--purple-alt: #d3869b;
	--orange: #d65d0e;
	--orange-blend: #9f4e19;
	--orange-alt: #fe8019;
	--aqua: #689d6a;
	--aqua-blend: #567856;
	--aqua-alt: #8ec07c;
}


html {
    --pst-header-height: 2.5rem;
}

/* Set theme using gruvbox colours */
html[data-theme=dark] {
    --pst-color-primary: #b8bb26;
    --pst-color-primary-text: #fff;
    --pst-color-primary-highlight: #98971a;
    --pst-color-secondary: #d3869b;
    --pst-color-secondary-text: #fff;
    --pst-color-secondary-highlight: #b16286;
    --pst-color-success: #8ec07c;
    --pst-color-success-text: #fff;
    --pst-color-success-highlight: #689d6a;
    --pst-color-info: #83a598;
    --pst-color-info-text: #fff;
    --pst-color-info-highlight: #458588;
    --pst-color-warning: #fe8019;
    --pst-color-warning-text: #fff;
    --pst-color-warning-highlight: #d65d0e;
    --pst-color-danger: #fb4934;
    --pst-color-danger-text: #fff;
    --pst-color-danger-highlight: #cc241d;
    --pst-color-light: #c9c9c9;
    --pst-color-light-text: #000;
    --pst-color-light-highlight: #a3a3a3;
    --pst-color-muted: #a6a6a6;
    --pst-color-muted-text: #fff;
    --pst-color-muted-highlight: grey;
    --pst-color-dark: #cecece;
    --pst-color-dark-text: #000;
    --pst-color-dark-highlight: #a8a8a8;
    --pst-color-black: #000;
    --pst-color-black-text: #fff;
    --pst-color-black-highlight: #000;
    --pst-color-white: #fff;
    --pst-color-white-text: #000;
    --pst-color-white-highlight: #d9d9d9;
    --pst-color-text-base: #ebdbb2;
    --pst-color-text-muted: #bdae93;
    --pst-color-shadow: #1d2021;
    --pst-color-border: #7c6f64;
    --pst-color-inline-code: #fe8019;
    --pst-color-inline-code-links: var(--pst-color-inline-code);
    --pst-color-target: #3e686ab3;
    --pst-color-background: #32302f;
    --pst-color-on-background: #504945;
    --pst-color-surface: #3c3836;
    --pst-color-on-surface: #bdae93;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-primary);
    --pst-color-info-bg: #4585884d;
    --pst-color-warning-bg: #d65d0e80;
    --pst-color-success-bg: #689d6a80;
    --pst-color-table-row-hover-bg: #b1628620;
}

html[data-theme=light] {
    --pst-color-primary: #79740e;
    --pst-color-primary-text: #fff;
    --pst-color-primary-highlight: #98971a;
    --pst-color-secondary: #8f3f71;
    --pst-color-secondary-text: #fff;
    --pst-color-secondary-highlight: #b16286;
    --pst-color-success: #8ec07c;
    --pst-color-success-text: #fff;
    --pst-color-success-highlight: #689d6a;
    --pst-color-info: #076678;
    --pst-color-info-text: #fff;
    --pst-color-info-highlight: #458588;
    --pst-color-warning: #af3a03;
    --pst-color-warning-text: #fff;
    --pst-color-warning-highlight: #d65d0e;
    --pst-color-danger: #9d0006;
    --pst-color-danger-text: #fff;
    --pst-color-danger-highlight: #cc241d;
    --pst-color-light: #c9c9c9;
    --pst-color-light-text: #000;
    --pst-color-light-highlight: #a3a3a3;
    --pst-color-muted: #7c6f64;
    --pst-color-muted-text: #fff;
    --pst-color-muted-highlight: grey;
    --pst-color-dark: #cecece;
    --pst-color-dark-text: #000;
    --pst-color-dark-highlight: #a8a8a8;
    --pst-color-black: #000;
    --pst-color-black-text: #fff;
    --pst-color-black-highlight: #000;
    --pst-color-white: #fff;
    --pst-color-white-text: #000;
    --pst-color-white-highlight: #d9d9d9;
    --pst-color-text-base: #3c3836;
    --pst-color-text-muted: #665c54;
    --pst-color-shadow: #f9f5d7;
    --pst-color-border: #a89984;
    --pst-color-inline-code: #af3a03;
    --pst-color-inline-code-links: var(--pst-color-inline-code);
    --pst-color-target: #ebdbb2b3;
    --pst-color-background: #f9f5d7;
    --pst-color-on-background: #d5c4a1;
    --pst-color-surface: #ebdbb2;
    --pst-color-on-surface: #665c54;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-primary);
    --pst-color-info-bg: #45858880;
    --pst-color-warning-bg: #d65d0e80;
    --pst-color-success-bg: #689d6a;
    --pst-color-table-row-hover-bg: #b1628620;
}

/* Give <strong> a a different colour */
strong {
    color: var(--pst-color-secondary);
}

/* Remove underline from abbreviations */
abbr[title] {
    text-decoration: 1px dotted var(--pst-color-link);
}

/* Fix text colour in search box on search result page */
input.form-control {
    color: var(--pst-color-text-base)
}

/* Remove background from images in dark theme */
html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
    background: revert;
}
