/* Tweak cards on homepage */
.sd-card {
    background-color: var(--pst-color-on-background);
}
.sd-card-header {
    font-size: 1.4rem;
    border-bottom: none !important;
}
.sd-card-footer {
    border-top: none !important;
}

/* Remove border radius from search box */
.search-button-field {
    border-radius: revert;
}

/* Remove bullets from parameter lists in API docs */
.field-list ul {
    list-style: none;
    padding-left: 0;
}

/* Give <strong> a a different colour */
strong {
    color: var(--pst-color-secondary);
}

/* Remove underline from abbreviations */
abbr[title] {
    text-decoration: 1px dotted var(--pst-color-link);
}

/* Add better separation between function and classes */
.class, .function {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--pst-color-on-surface);
}

/* Set theme using gruvbox colours */
html[data-theme=dark] {
    --pst-color-primary: #b8bb26;
    --pst-color-primary-text: #fff;
    --pst-color-primary-highlight: #98971a;
    --pst-color-secondary: #d3869b;
    --pst-color-secondary-text: #fff;
    --pst-color-secondary-highlight: #b16286;
    --pst-color-success: #8ec07c;
    --pst-color-success-text: #fff;
    --pst-color-success-highlight: #689d6a;
    --pst-color-info: #83a598;
    --pst-color-info-text: #fff;
    --pst-color-info-highlight: #458588;
    --pst-color-warning: #fe8019;
    --pst-color-warning-text: #fff;
    --pst-color-warning-highlight: #d65d0e;
    --pst-color-danger: #fb4934;
    --pst-color-danger-text: #fff;
    --pst-color-danger-highlight: #cc241d;
    --pst-color-light: #c9c9c9;
    --pst-color-light-text: #000;
    --pst-color-light-highlight: #a3a3a3;
    --pst-color-muted: #a6a6a6;
    --pst-color-muted-text: #fff;
    --pst-color-muted-highlight: grey;
    --pst-color-dark: #cecece;
    --pst-color-dark-text: #000;
    --pst-color-dark-highlight: #a8a8a8;
    --pst-color-black: #000;
    --pst-color-black-text: #fff;
    --pst-color-black-highlight: #000;
    --pst-color-white: #fff;
    --pst-color-white-text: #000;
    --pst-color-white-highlight: #d9d9d9;
    --pst-color-text-base: #ebdbb2;
    --pst-color-text-muted: #bdae93;
    --pst-color-shadow: #1d2021;
    --pst-color-border: #7c6f64;
    --pst-color-inline-code: #fe8019;
    --pst-color-inline-code-links: var(--pst-color-inline-code);
    --pst-color-target: #3e686ab3;
    --pst-color-background: #1d2021;
    --pst-color-on-background: #504945;
    --pst-color-surface: #3c3836;
    --pst-color-on-surface: #7c6f64;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-primary);
    --pst-color-info-bg: #4585884d;
    --pst-color-warning-bg: #d65d0e80;
    --pst-color-success-bg: #689d6a80;
    --pst-color-table-row-hover-bg: #b1628620;
}

html[data-theme=light] {
    --pst-color-primary: #79740e;
    --pst-color-primary-text: #fff;
    --pst-color-primary-highlight: #98971a;
    --pst-color-secondary: #8f3f71;
    --pst-color-secondary-text: #fff;
    --pst-color-secondary-highlight: #b16286;
    --pst-color-success: #8ec07c;
    --pst-color-success-text: #fff;
    --pst-color-success-highlight: #689d6a;
    --pst-color-info: #076678;
    --pst-color-info-text: #fff;
    --pst-color-info-highlight: #458588;
    --pst-color-warning: #af3a03;
    --pst-color-warning-text: #fff;
    --pst-color-warning-highlight: #d65d0e;
    --pst-color-danger: #9d0006;
    --pst-color-danger-text: #fff;
    --pst-color-danger-highlight: #cc241d;
    --pst-color-light: #c9c9c9;
    --pst-color-light-text: #000;
    --pst-color-light-highlight: #a3a3a3;
    --pst-color-muted: #7c6f64;
    --pst-color-muted-text: #fff;
    --pst-color-muted-highlight: grey;
    --pst-color-dark: #cecece;
    --pst-color-dark-text: #000;
    --pst-color-dark-highlight: #a8a8a8;
    --pst-color-black: #000;
    --pst-color-black-text: #fff;
    --pst-color-black-highlight: #000;
    --pst-color-white: #fff;
    --pst-color-white-text: #000;
    --pst-color-white-highlight: #d9d9d9;
    --pst-color-text-base: #3c3836;
    --pst-color-text-muted: #665c54;
    --pst-color-shadow: #f9f5d7;
    --pst-color-border: #a89984;
    --pst-color-inline-code: #af3a03;
    --pst-color-inline-code-links: var(--pst-color-inline-code);
    --pst-color-target: #ebdbb2b3;
    --pst-color-background: #f9f5d7;
    --pst-color-on-background: #d5c4a1;
    --pst-color-surface: #ebdbb2;
    --pst-color-on-surface: #a89984;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-primary);
    --pst-color-info-bg: #45858880;
    --pst-color-warning-bg: #d65d0e80;
    --pst-color-success-bg: #689d6a;
    --pst-color-table-row-hover-bg: #b1628620;
}

/* Fix text colour in search box on search result page */
input.form-control {
    color: var(--pst-color-text-base)
}

/* Remove background from images in dark theme */
html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
    background: revert;
}