@import 'colours.css';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--bg-s);
  color: var(--fg);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: .55rem 2rem;
  box-shadow: var(--big-shadow);
  border-bottom: 1px solid var(--bg-2);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
header h1 {
  margin: 0;
}

main {
  width: calc(100vw - 2rem);
  margin: 1rem;
}

a {
  color: var(--green-alt);
}

ul {
  border-left: 3px solid var(--green-alt);
  margin-left: 1rem;
}

form {
  accent-color: var(--green-alt);
  margin-left: 1rem;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-left: 3px solid var(--green-alt);
  margin-bottom: .5rem;
}
legend {
  font-weight: bold;
}
.checkbox {
  display: block;
}
.checkbox label {
  font-size: .9rem;
}
.searchbox {
  display: block;
  margin: .5rem 0;
}
.searchbox label {
  display: block;
  font-size: .9rem;
  top: 3px;
  margin-left: 2px;
  position: relative;
}
.searchbox input {
  width: 50ch;
  font-size: 1.2rem;
  background-color: var(--bg);
  border: 1px solid var(--bg-3);
  border-radius: var(--small-radius);
  color: var(--fg);
  padding: .25rem;
}
button {
  display: block;
  margin: .5rem 0;
  padding: .25rem 1rem;
  font-size: 1.2rem;
  color: var(--fg);
  border: 1px solid var(--bg-3);
  border-radius: var(--small-radius);
  background-color: var(--bg);
}