@import 'colours.css';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--bg-s);
  color: var(--fg);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: .55rem 2rem;
  box-shadow: var(--big-shadow);
  border-bottom: 1px solid var(--bg-2);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
header .controls {
  display: flex;
}
header .control-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25rem;
}
header h1 {
  margin: 0;
}
header h1 .data-length {
  font-size: 1rem;
  font-weight: normal;
  color: var(--fg-2);
}
header p {
  margin: 0;
  font-size: .9rem;
  color: var(--fg-4);
}
header a, header button {
  color: var(--fg);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: .1rem .5rem;
  border-radius: var(--small-radius);
  border: 1px solid var(--bg-4);
  background-color: var(--bg-s);
  margin: 0 .5rem;
  box-shadow: var(--small-shadow);
  font-size: 1rem;
  line-height: 1.5;
  min-width: 10ch;
}
header a:hover, header button:hover {
  background-color: var(--bg-2);
}

.success {
  background-color: var(--green-alt);
  color: var(--bg);
  border: 1px solid var(--bg);
}
.failure {
  background-color: var(--red-alt);
  color: var(--bg);
  border: 1px solid var(--bg);
}

main {
  width: calc(100vw - 2rem);
  margin: 1rem;
}
p {
  margin: 0.5rem;
}
.entry {
  overflow-x: auto;
  padding: 0 .5rem 1rem;
  margin-bottom: .5rem;
}
.entry:focus-within {
  border: 1px solid var(--fg);
  border-radius: var(--small-radius);
  box-shadow: var(--big-shadow);
  background-color: var(--bg-1);
}
.index {
  font-size: .9rem;
  color: var(--fg-4);
  position: relative;
}
.index:hover:after {
  content: attr(data-dataset);
  position: absolute;
  z-index: 1;
  display: block;
  top: 1.5rem;
  left: 0;
  background-color: var(--bg);
  border-radius: var(--small-radius);
  border: 1px solid var(--bg-2);
  padding: .25rem;
  white-space: nowrap;
  box-shadow: var(--big-shadow);
}
.sentence {
  font-size: 1.2rem;
  margin: 0.25rem;
}

table {
  font-size: .9rem;
  border: 2px solid var(--bg-4);
  border-radius: var(--medium-radius);
  border-collapse: collapse;
}
td {
  text-align: center;
  font-size: 1.1rem;
  padding: 3px;
  border: 1px solid var(--bg);
  background-color: var(--background-color, --bg-s);
}
select {
  text-align: center;
  color: var(--fg);
  box-sizing: border-box;
  border: none;
  border-radius: var(--small-radius);
  padding: .3rem;
  background-color: var(--background-color);
  width: 13ch;
  word-break: break-word;
}

.QTY {
  --background-color: color-mix(in srgb, var(--green), #333);
}
.UNIT {
  --background-color: color-mix(in srgb, var(--yellow), #333);
}
.NAME {
  --background-color: color-mix(in srgb, var(--aqua), #333);
}
.COMMENT {
  --background-color: color-mix(in srgb, var(--purple), #333);
}
.PREP {
  --background-color: color-mix(in srgb, var(--blue-alt), #333);
}
.PUNC {
  --background-color: color-mix(in srgb, var(--gray), #333);
}

button.delete {
  border: 1px solid var(--red-alt);
  border-radius: var(--small-radius);
  color: var(--red-alt);
  background-color: var(--bg);
  padding: .25rem .5rem;
  margin-left: 1rem;
  font-size: 1rem;
  top: -2px;
  position: relative;  
}