/*
@font-face {
  font-family: "ITCAvantGardePro-Bold";
  src: url("https://cdn.superstardle.com/fonts/ITCAvantGardePro-Bold.woff2") format('woff2');
  font-weight: bold;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--bg-s);
   color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 900;
}

main {
  margin: 0 auto;
}

table {
  margin: 0 auto;
  width: 95%;
  font-size: 1.2rem;
  border: 3px solid var(--fg-3);
  border-radius: var(--medium-radius);
  border-collapse: collapse;
}
tr:nth-of-type(odd) {
  background-color: var(--bg-2);
}
tr:nth-of-type(even) {
 background-color: var(--bg-1);
}

td {
  position: relative;
  padding: 0 .5rem;
  border: 1px solid var(--fg-3);
}
td:first-of-type {
  width: 15ch;
}
