.root {

    border-radius: var(--small-radius);

    &[data-variant=dark] {
        border: 1px solid color-mix(in srgb,var(--fg),transparent 66%);
        background-color: var(--bg-3);
        color: var(--fg);

        &:not(:disabled):hover {
            background-color: var(--bg-2);
        }
    }

    &[data-variant=light] {
        border: 1px solid color-mix(in srgb,var(--fg),transparent 66%);
        background-color: var(--fg);
        color: var(--bg-3);

        &:not(:disabled):hover {
            background-color: var(--fg);
        }
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
        outline: 1px solid var(--fg);
    }

}
