.root {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.section {
    &[data-variant="divider"] {
         border-bottom: 1px solid color-mix(in srgb,var(--bg-3),transparent 66%);
    }
}
