.root {
	background: var(--bg-3);
	color: var(--fg);
	font-weight: normal;
	border-radius: var(--small-radius);

	&[data-variant="dark"] {
		background: var(--bg-3);
		color: var(--fg);
	}
	&[data-variant="light"] {
		background: var(--fg);
		color: var(--bg-3);
	}

	&[data-variant="AMOUNTS"] {
		background: var(--yellow-alt);
		color: var(--bg);
	}
	&[data-variant="NAME"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="B_NAME_TOK"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="I_NAME_TOK"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="NAME_VAR"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="NAME_MOD"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="NAME_SEP"] {
		background: var(--aqua-alt);
		color: var(--bg);
	}
	&[data-variant="COMMENT"] {
		background: var(--purple-alt);
		color: var(--bg);
	}
	&[data-variant="PREP"] {
		background: var(--blue-alt);
		color: var(--bg);
	}
	&[data-variant="QTY"] {
		background: var(--green-alt);
		color: var(--bg);
	}
	&[data-variant="PURPOSE"] {
		background: var(--red-alt);
		color: var(--bg);
	}
	&[data-variant="PUNC"] {
		background: var(--gray);
		color: var(--bg);
	}
	&[data-variant="SIZE"] {
		background: var(--orange);
		color: var(--bg);
	}
	&[data-variant="UNIT"] {
		background: var(--yellow-alt);
		color: var(--bg);
	}
	&[data-variant="OTHER"] {
		color: var(--bg);
		background: var(--mantine-color-white);
	}
	&[data-variant="FOUNDATION_FOODS"] {
		color: var(--bg);
		background: var(--mantine-color-white);
	}
}
