.dropdown {
	background: var(--fg);
	color: var(--bg-3);
	border: 1px solid color-mix(in srgb, var(--bg-3), transparent 66%);
	border-radius: var(--small-radius);
}

.option {
	margin-top: 0.125rem;
	padding: var(--small-spacing);

	&[data-combobox-active] {
		background: var(--bg-3);
		color: var(--fg);
	}

	&[data-combobox-selected] {
		background: var(--bg-3);
		color: var(--fg);
	}

	&[data-combobox-disabled] {
		text-decoration: line-through;
		cursor: not-allowed;

		&:hover {
			background: transparent;
			color: #909296;
		}
	}

	&:hover {
		background: var(--bg-3);
		color: var(--fg);
	}
}
