.root {
	--pagination-active-bg: var(--bg-1);
}

.control {
	color: var(--fg);
	background-color: var(--bg-2);
	border: 1px solid var(--fg-2);
	box-shadow: var(--small-shadow);
	border-radius: var(--small-radius);

	&:hover {
		&:where(:not(:disabled, [data-disabled])) {
			background-color: var(--fg);
			color: var(--bg-2);
		}
	}

	&:where([data-active]) {
		background-color: var(--bg);
		border: 1px solid var(--fg-2);
		color: var(--fg);
	}
}
