@import 'colours.css';

body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 100ch;
  background-color: var(--bg-s);
  color: var(--fg);
}
main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
}

input {
  font-size: 1.4rem;  
  width: 100%;
  padding: .2em .5em;
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg-2);
  border: 1px solid var(--fg-2);
  box-shadow: var(--big-shadow);
  border-radius: var(--small-radius);
}

.QTY {
  background-color: var(--green);
}
.UNIT {
  background-color: var(--yellow);
}
.NAME {
  background-color: var(--aqua);
}
.COMMENT {
  background-color: var(--purple);
}
.OTHER {
  background-color: var(--red);
}
.COMMA {
  background-color: var(--gray);
}
.AMOUNT {
  background: linear-gradient(to right, var(--green) 0%, var(--green) 45%, var(--yellow) 55%, var(--yellow) 0%);
}

.sentence {
  font-size: 1.2rem;
  text-align: center;
}
.sentence span {
  padding: 0 1ch;
  color: var(--bg);
}
.sentence span:first-of-type {
  border-radius: var(--small-radius) 0 0 var(--small-radius);
}
.sentence span:last-of-type {
  border-radius: 0 var(--small-radius) var(--small-radius) 0;
}

.key {
  font-size: 0.9rem;
  text-align: center;
  color: var(--fg-2);
}
.key span {
  padding: 0 1ch;
  margin: 0 .2ch;
  border-radius: var(--small-radius);
  color: var(--bg);
}
.key .flag {
  margin: .25rem;
  background-color: var(--bg-2);
  color: var(--fg);
  padding: 0.1rem 0.5rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  border: 1px solid black;
  border-radius: var(--medium-radius);
  width: 24%;
  margin: 1rem 0;
  min-height: 5rem;
  background-color: var(--bg-3);
  box-shadow: var(--small-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card hr {
  height: 2px;
  background-color: var(--bg-2);
  border: none;
}

.card h3 {
  color: var(--bg);
  margin: 0;
  padding: .2rem 1rem;
  font-size: 1rem;
  border-radius: var(--medium-radius) var(--medium-radius) 0 0;
}

.card h4 {
  color: var(--fg-1);
  background-color: var(--bg-2);
  margin: .5rem 0 0 0;
  padding: .2rem 1rem;
  font-size: .9rem;
  border-radius: 0 0 var(--medium-radius) var(--medium-radius) ;
  text-align: right;
}

.card h2 {
  font-size: 1.4rem;
  margin: .25rem .25rem .25rem 1rem;
  font-weight: normal;
  display: inline-block;
  flex-grow: 1;
}

.card .flag {
  display: inline-block;
  margin: .25rem;
  font-size: 1.2rem;
  background-color: var(--bg-1);
  color: var(--fg);
  padding: 0.1rem 0.5rem;
  border-radius: var(--small-radius);
  height: fit-content;
}

.card h2.amounts {
  display: flex;
  gap: .25rem;
  margin: .25rem;
  flex-flow: 0;
}
.card .amount-val {
  background-color: var(--bg-2);
  border-radius: var(--medium-radius);
  width: fit-content;
  height: fit-content;
  padding: 0 .5rem;
  box-shadow: var(--small-shadow);
}
.card div.QTY {
  border: 2px solid var(--green);
}
.card div.UNIT {
  border: 2px solid var(--yellow);
}