@import 'colours.css';

body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 95ch;
  background-color: var(--bg-s);
  color: var(--fg);
}
main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
}

form {
  text-align: center;
}
input[type="search"] {
  font-size: 1.4rem;  
  width: 100%;
  padding: .2em .5em;
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg-2);
  border: 1px solid var(--fg-2);
  box-shadow: var(--big-shadow);
  border-radius: var(--small-radius);
}
input[type="checkbox"] {
  margin-top: 1rem;
  accent-color: var(--green-alt);
}
label {
  margin-right: 1rem;
}

.QTY {
  --color: var(--green);
}
.UNIT {
  --color: var(--yellow);
}
.NAME {
  --color: var(--aqua);
}
.COMMENT {
  --color: var(--purple);
}
.PREP {
  --color: var(--blue-alt);
}
.PUNC {
  --color: var(--gray);
}
.PURPOSE {
  --color: var(--red-alt);
}
.AMOUNT {
  /* Mix of --green and --yellow */
  --color: #B8981E;
}
.SIZE {
  --color: var(--orange);
}
.FOUNDATION {
  --color: var(--fg-1);
}

.sentence {
  font-size: 1.2rem;
  text-align: center;
}
.sentence > span {
  padding: 0 1ch;
  background-color: var(--color);
  color: var(--bg);
  border: 1px solid var(--bg-s);
  position: relative;
}
.sentence > span:hover span.marginals {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  top: 2.1em;
  left: -.5rem;
  background-color: var(--bg-3);
  color: var(--fg);
  border-radius: var(--small-radius);
  border: 1px solid var(--fg-3);
  padding: .25rem .5rem;
  white-space: nowrap;
  box-shadow: var(--big-shadow);
  font-size: .9rem;
  text-align: left;
}
.sentence > span:first-of-type {
  border-radius: var(--small-radius) 0 0 var(--small-radius);
}
.sentence > span:last-of-type {
  border-radius: 0 var(--small-radius) var(--small-radius) 0;
}

.marginals {
  display: none;
}
.marginals-row {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
}
.marginals-row:not(:last-of-type){
  border-bottom: 1px solid var(--fg-4)
}
.marginals-score {
  font-weight: bold;
}

.key {
  font-size: .9rem;
  text-align: center;
  color: var(--fg-2);
}
.key span {
  padding: 0 1ch;
  margin: 0 .2ch;
  background-color: var(--color);
  border-radius: var(--small-radius);
  color: var(--bg);
}
.key .flag {
  margin: .25rem;
  background-color: var(--bg-3);
  color: var(--fg);
  padding: .1rem .5rem;
}

table {
  margin: 0 auto;
  width: 95%;
  font-size: 1.2rem;
  border: 3px solid var(--fg-3);
  border-radius: var(--medium-radius);
  border-collapse: collapse;
}
tr:nth-of-type(odd) {
  background-color: var(--bg-2);
}
tr:nth-of-type(even) {
 background-color: var(--bg-1); 
}

td {
  position: relative;
  padding: 0 .5rem;
  border: 1px solid var(--fg-3);
}
td:first-of-type {
  width: 15ch;
}

.type {
  font-weight: bold;
  text-transform: uppercase;
  padding: .25rem .5rem;
  border-left: 5px solid var(--color);
}

.amount {
  display: inline-block;
  border-right: 1px solid var(--fg-4);
  margin: 0 .5rem 0 0;
  padding-right: .25rem;
}
.amount span {
  margin: .25rem;
}

table .flag {
  display: inline-block;
  margin: .25rem;
  font-size: 1rem;
  background-color: var(--bg-3);
  color: var(--fg);
  padding: 0 .5rem;
  border-radius: var(--small-radius);
  height: fit-content;
}

.confidence {
  float: right;
  font-size: 1rem;
  margin: .2rem 0;
  padding: 0 .5rem;
  border-radius: var(--medium-radius);
  background-color: var(--color);
  color: var(--bg);
  box-shadow: var(--small-shadow);
}
