name: Tests

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4
    - name: Run pre-commit checks on all files
      uses: pre-commit/action@v3.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Should we have some tests with only requirements.txt?
        pip install -r requirements-dev.txt
    - name: Run Tests
      run: |
        pytest
      env:
        PYTHONPATH: .
